[submodule "components/tiny/tiny"]
	path = components/tiny/tiny
	url = https://github.com/gkcity/tiny.git
[submodule "components/tinyfx/tinyfx"]
	path = components/tinyfx/tinyfx
	url = https://github.com/gkcity/tinyfx.git
[submodule "components/tinymdns/tinymdns"]
	path = components/tinymdns/tinymdns
	url = https://github.com/gkcity/tinymdns.git
[submodule "components/tinycrypto/tinycrypto"]
	path = components/tinycrypto/tinycrypto
	url = https://github.com/gkcity/tinycrypto.git
[submodule "components/web-captive-portal/web-captive-portal"]
	path = components/web-captive-portal/web-captive-portal
	url = https://github.com/gkcity/web-captive-portal.git
